h2.form-title {
    margin-bottom: 0px;
    color: #36c;
    margin-bottom: 30px;
    margin-top: 20px;
}

h6.form-subtitle {
    margin-bottom: 32px;
    color: #777;
    line-height: 1.5em;
    text-align: justify;
}

.navbar-brand {
    font-weight: bold;
    color: white !important;
    width: 320px;
    height: 320px;
    margin-top: -10px
}